body {
  background: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-flow: wrap;
}

.snowdepth {
  width: 400px;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white; 
}

#snowglobe {
  width: 400px;
  height: 400px;
  margin: auto;
  background: #042a3d;
  padding: 0px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

#snowglobe i {
  margin: 0 10px;
}

.fa-snowflake {
  color: #d2edfa;
}

#controls {
  width: 100vw;
}

#controls .container {
  margin: auto;
  width: 300px;
  display: flex;
}

.shake {
  width: 50%;
}
