body {
  background: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-flow: wrap;
}

#snowglobe {
  width: 300px;
  height: 300px;
  margin: auto;
  background: #042a3d;
  padding: 0px;
  overflow: hidden;
}

#snowglobe i {
  margin: 0 10px;
}

.fa-snowflake {
  color: #d2edfa;
}

#controls {
  width: 100vw;
}

#controls .container {
  margin: auto;
  width: 300px;
  display: flex;
}

.shake {
  width: 50%;
}
