
/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 200px;
  height: 200px;
}

.svg-icon path {
  fill: #042a3d;
}

.house {
  position: absolute;
  left: 100px;
  bottom: 10px;
}

#snowglobe {
  width: 400px;
  height: 400px;
  margin: auto;
  background: #042a3d;
  padding: 0px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

#snowglobe i {
  margin: 0 10px;
}

.moon {
  color: #ebcf34;
  position: absolute;
  left: 50px;
  top: 100px;
}

.stars {
  color: #e9eddd;
  position: absolute;
  width: 150px;
  max-width: 150px;
  max-height: 50px;
  height: 50px;
  left: 175px;
  top: 75px;
}

.mid-star {
  position: relative;
  top: 50px;
}

body {
  background: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-flow: wrap;
}

#snowdepth {
  width: 400px;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white; 
  z-index: 1000;
}

.snowbox {
  width: 400px;
  height: 400px;
  margin: auto;
  padding: 0px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

.fa-snowflake {
  color: white;
  position: absolute;
  top: -50px;
}

#controls {
  width: 100vw;
}

#controls .container {
  margin: auto;
  width: 300px;
  display: flex;
}

.play, .pause {
  width: 25%;
}
